@{
    ViewData["Title"] = "Email";
}

<div class="text-center">
    <h1 class="display-4">Підтвердження електронної пошти</h1>
</div>

<p>
    Загальна схема:
</p>
<ul>
    
    <li>Користувач вводить (при реєстрації або у кабінеті) адресу електронної пошти</li>
<li>
    Генеруємо випадковий код і надсилаємо його на задану пошту
</li>
    <li>
    3берігаємо цей код у БД для даного користувача. Наявність коду свідчитиме
    про відсутність її підтвердження
    </li>
    
</ul>
<p>
    У контроллері додаємо залежність від конфігурації @ViewData["config"]
</p>