@{
    ViewData["Title"] = "Основи ASP";
}

<div class="text-center">
    <h1 class="display-4">Основи ASP</h1>
</div>

<h3><a href="/Home/Intro">Вступ</a>.</h3>
<h3><a href="/Home/Scheme">Схема взаємодії</a>.</h3>
<h3><a href="/Home/Razor">Razor</a>.</h3>
<h3><a href="/Home/Model">Передача моделі у представлення</a>.</h3>
<h3><a asp-action="Services">Services - служби</a>.</h3>
<h3><a asp-action="Context">Контекст базы данных</a>.</h3>
<h3><a asp-action="Sessions">HTTP - сессии</a>.</h3>
<h3><a asp-action="Middleware">Middleware - П3 проміжного рівня</a>.</h3>
<h3><a asp-action="EmailConfirmation">Подтверждение почты</a>.</h3>
<h3><a asp-action="WebApi">Web Api</a>.</h3>

<br />

<h3><a href="/User">Сторінка користувача</a>.</h3>
<h3><a asp-controller="Forum">Форум</a></h3>
